@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.3em;
    padding: 50px 0;
    background-image: url(./images/fondo_pokeball.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #030303;
    background-position-y: -110px;
    font-family: 'Orbitron', sans-serif;
}

h1{
    margin: 30px 0 300px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: -2px 5px 7px #fb1b1b;
    text-align: center;
    font-size: 2.6rem;
}


h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

#searchPokemon{
    padding: 20px;
    text-align: center;
}

div.listPokemon {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

button{
    padding: 12px 10px;
    border: none;
    color: white;
    background-color: #fb1b1b;
    font-size: 1.4rem;
    outline: none;
    position: relative;
    top: 0px;
    width: 350px;
    margin: 5px 0;
    max-width: 96%;
    left: 0px;
    font-family: 'Orbitron', sans-serif;
}

input {
    padding: 10px 10px;
    outline: none;
    font-size: 1.4rem;
    width: 400px;
    max-width: 90%;
    font-family: 'Orbitron', sans-serif;
  }
  

div#pokedex {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.pokemon {
    padding: 0px;
    background-color: #ffffff;
    margin: 20px 10px;
    border: 10px solid #FB1B1B;
    border-radius: 10px;
    max-width: 340px;
    text-align: center;
    transition: all .2s ease-in-out
}

.pokemon:hover{
    transform: scale(1.1);
}

.pokemon__element1 {
    max-width: 100%;
    padding: 10px 25px;
    border-bottom: 5px solid #fb1b1b;
}

img.pokemon__element1--img {
    object-fit: contain;
    width: 100%;
}

.pokemon__element2 {
    background-color: #000000;
    color: whitesmoke;
    padding: 10px;
}

h2.pokemon__element2--h2 {
    text-transform: capitalize;
    margin: 5px 0;
    font-size: 2.5rem;
}

h3.pokemon__element2--h3 {
    text-transform: capitalize;
    margin: 5px 0;
}


@media (min-width: 990px) {
    h1{
        font-size: 4rem;
    }
}
